<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.ImageDao">
    <select id="ImageByFolder" parameterType="int" resultType="ImageDto">
        SELECT * FROM image WHERE FOLDER=#{folder}
    </select>
    <insert id="MenuImageInsertByOwner" parameterType="map"
            useGeneratedKeys="true" keyProperty="dto.id" keyColumn="id">
        INSERT INTO image (bucket, folder, filename)
        VALUES ('imgfile', #{dto.folder,jdbcType=VARCHAR}, #{dto.filename,jdbcType=VARCHAR})
    </insert>
    <select id="getImageById" parameterType="int" resultType="ImageDto">
        SELECT id, folder, filename
        FROM image
        WHERE id = #{id}
    </select>
</mapper>
