<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.MenuDao">

    <select id="findByIdList" resultType="MenuDto">
        SELECT
        id,
        menu_category_id,
        store_id,
        image_id,
        menu_name,
        menu_price
        FROM menu
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="StoreMenuList" parameterType="int" resultType="MenuDto">
        SELECT * FROM menu WHERE store_id=#{storeId}
    </select>
    <select id="StoreMenuImage" parameterType="int" resultType="MenuDto">
        SELECT m.id, m.store_id, m.image_id, m.menu_name, m.menu_price, i.folder, i.filename
        FROM menu m LEFT JOIN image i ON m.image_id = i.id WHERE m.store_id = #{storeId}
    </select>

    <!-- 룸/챗 -->
    <select id="selectMenu" parameterType="MenuDto" resultType="MenuDto">
        SELECT
        id,
        menu_category_id,
        store_id,
        image_id,
        menu_name,
        menu_price,
        folder,
        filename
        FROM menu
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId}
            </if>
            <if test="menuName != null">
                AND menu_name = #{menuName}
            </if>
            <if test="menuNameLike != null">
                AND LOWER(menu_name) LIKE CONCAT('%', LOWER(#{menuNameLike}), '%')
            </if>
            <if test="menuCategoryId != null">
                AND menu_category_id = #{menuCategoryId}
            </if>
        </where>
    </select>
    <select id="selectByStore" resultType="MenuDto" parameterType="Integer">
        SELECT * FROM MENU WHERE store_id = #{storeId} order by id
    </select>

    <select id="SelectByKeyword" parameterType="String" resultType="MenuDto">
        SELECT m.id, m.store_id, m.image_id, m.menu_name, m.menu_price, i.folder, i.filename, s.store_name
        FROM menu m LEFT JOIN image i ON m.image_id = i.id JOIN store s ON m.store_id = s.id
        WHERE m.menu_name LIKE '%' || #{keyword} || '%'
    </select>

    <select id="findMenuByOwnerId" resultType="MenuDto">
        SELECT menu.*
        FROM menu, store
        where store.id = menu.store_id
        and store.owner_id = #{ownerId}
    </select>

    <select id="findMenuWithImageByOwnerId" parameterType="int" resultType="MenuDto">
        SELECT
        m.id,
        m.store_id,
        s.store_name,
        s.owner_id,
        m.image_id,
        m.menu_name,
        m.menu_price,
        i.folder,
        i.filename
        FROM menu m
        LEFT JOIN image i ON m.image_id = i.id
        LEFT JOIN store s ON m.store_id = s.id
        WHERE s.owner_id = #{ownerId}

    </select>

</mapper>
