<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.mapper.OrdersMapper">

    <select id="selectOrderById" parameterType="int" resultType="com.example.dto.OrderResponseDto">
        SELECT
        ORDER_ID AS orderId,
        ROOM_ID AS roomId,
        USER_ID AS userId,
        STORE_ID AS storeId,
        ROOM_ORDER AS roomOrder,
        TOTAL_PRICE AS totalPrice,
        CREATED_AT AS createdAt
        FROM ORDERS
        WHERE ORDER_ID = #{orderId}
    </select>

</mapper>
