<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.OrdersDao">

<!--    전체 목록 : 로그인 id 기준 (최신순)-->
    <select id="selectByUserId" resultType="OrdersDto">
        SELECT order_id, room_id, user_id, store_id,
        room_order AS roomOrder,
        total_price, created_at
        FROM orders
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>
    <!-- 페이지네이션 -->
    <select id="selectByUserIdPaging" resultType="OrdersDto">
        SELECT *
        FROM (
            SELECT t.*, ROWNUM rnum
            FROM (
                SELECT order_id, room_id, user_id, store_id,
                    room_order AS roomOrder,
                    total_price, created_at
            FROM orders
            WHERE user_id = #{userId}
            ORDER BY created_at DESC
        ) t
        WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE rnum &gt;= #{offset}
    </select>

<!--    총 갯수 쿼리. -->
    <select id="countByUserId" resultType="int">
        SELECT COUNT(*) FROM orders WHERE user_id = #{userId}
    </select>

    <!--  주문 상세  -->
    <select id="selectByOrderId" parameterType="int" resultType="OrdersDto">
        SELECT order_id, room_id, user_id,
        room_order AS roomOrder,
        total_price, created_at

        FROM orders
        WHERE order_id = #{orderId}
    </select>

    <!--    insert-->
    <insert id="insertOrder" parameterType="com.example.start01.dto.OrdersDto"
            useGeneratedKeys="true" keyProperty="orderId" keyColumn="ORDER_ID">
        INSERT INTO orders (room_id, user_id, store_id, room_order, total_price)
        VALUES (
        #{roomId},
        #{userId},
        #{storeId},
        #{roomOrder, typeHandler=com.example.start01.config.JsonNodeTypeHandler, jdbcType=VARCHAR},
        #{totalPrice}
        )
    </insert>

    <!--    삭제 -->
    <delete id="deleteByOrderId" parameterType="int">
        DELETE FROM orders WHERE order_id = #{orderId}
    </delete>

    <select id="selectOrdersByRoomId" resultType="com.example.start01.dto.OrdersDto">
        SELECT *
        FROM orders
        WHERE room_id = #{roomId}
    </select>

</mapper>