<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.PaymentDao">
    <select id="allPayment" resultType="PaymentDto">
        SELECT p.*, u.email, u.nickname FROM PAYMENT p Join users u ON p.user_id = u.id
        <where>
            <if test="comments != null and comments != '' and comments != 'all'">
                COMMENTS = #{comments}
            </if>
        </where>
        order by p.id desc
    </select>
    <select id="allPaymentInOnly" resultType="PaymentDto">
        SELECT p.*, u.email, u.nickname FROM PAYMENT p Join users u ON p.user_id = u.id
        WHERE comments = 'cash' order by p.id desc
    </select>
    <insert id="insertCash" parameterType="PaymentDto">
        INSERT INTO PAYMENT (user_id, comments, inout, amount, cash)
        VALUES (#{userId}, #{comments}, #{inout}, #{amount}, #{cash})
    </insert>
    <insert id="insertCashRefund" parameterType="PaymentDto">
        INSERT INTO PAYMENT (user_id, comments, inout, amount, cash)
        VALUES (#{userId}, #{comments}, #{inout}, #{amount}, #{cash})
    </insert>
    <update id="updateUserCash" parameterType="PaymentDto">
        UPDATE users set cash=cash-#{amount} where id=#{userId} And cash>=#{amount}
    </update>
    <update id="updateUserOrder" parameterType="PaymentDto">
        UPDATE users set cash=cash+#{amount} where id=#{userId} And cash>=#{amount}
    </update>
</mapper>