<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.QnaDao">
    <select id="selectByUserId" resultType="QnaDto">
        SELECT id, user_id, title, q_contents, q_answer, created_at
        FROM qna WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>
    <select id="selectByQnaId" resultType="QnaDto">
        SELECT title, q_contents, created_at FROM qna WHERE id = #{qnaId}
    </select>
    <update id="updateQna" parameterType="QnaDto">
        UPDATE qna
        SET title = #{title}, q_contents = #{qContents, jdbcType=VARCHAR}, created_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>
    <delete id="deleteByQnaId" parameterType="int">
        DELETE FROM qna WHERE id = #{qnaId}
    </delete>
</mapper>
