<mapper namespace="com.example.start01.dao.RoomDao">
    <select id="RoomSelect" returnType="RoomDto">
        SELECT * FROM room
    </select>
    <insert id="RoomUpdate" parameterType="RoomDto">
        INSERT INTO room (store_id, room_name, room_address, max_people, users, leader_id, created_at, room_address_detail
    </insert>
</mapper>