<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.RoomJoinDao">
    <select id="statusCheck" resultType="RoomJoinDto">
        SELECT * from room_join where ROOM_ID = #{roomId} AND USERS_ID = #{userId}
    </select>
</mapper>