<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.StoreDao">
    <select id="StoreAll" resultType="StoreDto">
        SELECT * FROM store
    </select>
    <select id="StoreUserAll" resultType="StoreDto">
        SELECT s.*, u.nickName FROM store s LEFT JOIN users u on s.owner_id = u.id
    </select>
    <select id="StoreCount" resultType="int">
        SELECT count(*) as storeCount FROM store
    </select>
    <select id="StoreById" resultType="StoreDto">
        SELECT * FROM store WHERE menu_category_id = #{menuCategoryId}
    </select>
    <select id="StoreDetail" resultType="StoreDto">
        SELECT * FROM store WHERE id = #{id}
    </select>
    <insert id="StoreInsert" parameterType="StoreDto">
        INSERT INTO store (menu_category_id, store_name, store_address, min_price, tel, owner_id)
        VALUES (#{menuCategoryId},#{storeName},#{storeAddress}, #{minPrice},#{tel},#{ownerId})
    </insert>
    <update id="StoreUpdate" parameterType="StoreDto">
        UPDATE store SET store_name=#{storeName},store_address=#{storeAddress},
        min_price=#{minPrice},tel=#{tel} WHERE id=#{id}
    </update>
    <delete id="StoreDelete" parameterType="StoreDto">
        DELETE FROM store WHERE id=#{id}
    </delete>


    <!-- 룸/챗-->
    <select id="selectStore" parameterType="StoreDto" resultType="StoreDto">
        SELECT
        id,
        menu_category_id AS menuCategoryId,
        store_name AS storeName,
        store_address AS storeAddress,
        min_price AS minPrice,
        tel,
        owner_id AS ownerId
        FROM store
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="menuCategoryId != null">
                AND menu_category_id = #{menuCategoryId}
            </if>
            <if test="storeNameLike != null and storeNameLike != ''">
                AND LOWER(store_name) LIKE CONCAT('%', LOWER(#{storeNameLike}), '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="SelectByKeyword" parameterType="String" resultType="StoreDto">
        SELECT * FROM store WHERE store_name LIKE '%' || #{keyword} || '%'
    </select>

    <select id="StoreByOwnerId" parameterType="int" resultType="StoreDto">
        SELECT * FROM store WHERE owner_id = #{ownerId}
    </select>

    <delete id="StoreDeleteById" parameterType="int">
        DELETE FROM store WHERE id = #{id}
    </delete>

    <select id="storeSearch" resultType="StoreDto" parameterType="map">
        SELECT s.*, u.nickname AS nickName
        FROM store s
        JOIN users u ON s.owner_id = u.id
        <where>
            <if test="type != null and keyword != null and type != 'all'">
                <choose>
                    <when test="type == 'user'"> u.nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'storeName'"> s.store_name LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'storeAddress'"> s.store_address LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'tel'"> s.tel LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
        </where>
    </select>
</mapper>