<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.start01.dao.UsersDao">
<!--    삽입구문-->
    <insert id="UsersInsert" parameterType="UsersDto">
        INSERT INTO users
        (email, password, nickname, phone_num, role)
        VALUES (#{email},#{password},#{nickname}, #{phoneNum}, #{role})
    </insert>
<!--    닉네임 갯수-->
    <select id="NicknameSelect" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM users
        WHERE nickname = #{nickname}
    </select>
<!--    해당 이메일 사용자-->
    <select id="findByEmail" resultType="UsersDto" parameterType="String">
        SELECT * FROM USERS
        WHERE email = #{email}
    </select>
<!--    해당 사용자 주소 상세정보-->
    <select id="getUserAddress" resultType="UsersDto" parameterType="Integer">
        select address, address_detail from users where id = #{userId}
    </select>
<!--    아이디로 주소 업데이트-->
    <update id="updateAddress" parameterType="UsersDto">
        UPDATE USERS SET address = #{address} WHERE id = #{id}
    </update>
<!--    전체 사용자-->
    <select id="selectAll" resultType="UsersDto">
        SELECT * FROM USERS
    </select>
<!--    전체 사용자(관리자 제외)-->
    <select id="selectAllAdmin" resultType="UsersDto">
        <![CDATA[ SELECT * FROM USERS WHERE role <> 'admin' ]]>
    </select>
<!--    전체 사용자(활성사용자 제외)-->
    <select id="selectAllActive" resultType="UsersDto">
        <![CDATA[ SELECT * FROM USERS WHERE status <> 'active' ]]>
    </select>
<!--    총사용자-->
    <select id="TotalCount" resultType="int">
        SELECT COUNT(*) FROM users
    </select>
<!--    탈퇴회원수-->
    <select id="unactiveCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE STATUS = 'unactive'
    </select>
<!--    정지회원수-->
    <select id="banCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE STATUS = 'ban'
    </select>
    <select id="unactiveBan" resultType="UsersDto" parameterType="String">
        SELECT * FROM users WHERE STATUS = #{status}
    </select>
<!--    사용자/사장님 정보-->
    <select id="userBtnCount" resultType="UsersDto" parameterType="String">
        SELECT * FROM users WHERE role = #{role}
    </select>
    <select id="userBtnCountRole" resultType="int" parameterType="String">
        SELECT count(*) FROM users WHERE role = #{role}
    </select>
<!--    아이디로 회원정보 업데이트-->
    <update id="updatePassword"  parameterType="UsersDto">
        UPDATE USERS SET password = #{password}, nickname = #{nickname}
        WHERE id = #{id}
    </update>

    <update id="resetPassword"  parameterType="UsersDto">
        UPDATE USERS SET password = #{password}
        WHERE email = #{email} AND
        role = #{role}
    </update>
<!--    주소업데이트-->
    <update id="updateAddressAndDetail" parameterType="UsersDto">
        UPDATE USERS SET address = #{address}, address_detail = #{addressDetail} WHERE id = #{id}
    </update>
    <update id="updateProfileUrl" parameterType="map">
        UPDATE USERS SET profile_url = #{profileUrl} WHERE id = #{userId}
    </update>

    <!-- 룸/챗-->
    <update id="updateUser" parameterType="UsersDto">
        UPDATE USERS
        <set>
            <if test="nickname != null">NICKNAME = #{nickname},</if>
            <if test="userRating != null">USER_RATING = #{userRating},</if>
            <if test="cash != null">CASH = #{cash},</if>
        </set>
        WHERE ID = #{id}
    </update>

<!--    탈퇴회원 조건 id-->
    <update id="unactiveUsers" parameterType="int">
        UPDATE USERS SET status = 'unactive'
        WHERE id = #{id}
    </update>


    <select id="findUsersByIds" resultType="UsersDto" parameterType="list">
        SELECT id, nickname
        FROM users
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateUserRating" parameterType="map">
        UPDATE USERS
        SET user_rating = #{userRating}
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="UsersDto" parameterType="int">
        SELECT * FROM users WHERE id = #{id}
    </select>



<!--탈퇴/정지회원관리 검색-->
    <select id="userBanSearch" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        <where> status = 'ban'
            <if test="type != null and keyword != null and keyword != ''">
                AND
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
        </where>
    </select>
    <select id="userUnactiveSearch" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        <where> status = 'unactive'
            <if test="type != null and keyword != null and keyword != ''">
                AND
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
        </where>
    </select>
    <select id="userSearchActive" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        <where>
            <if test="type != null and keyword != null and keyword != ''">
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
        </where>
    </select>
<!--회원관리검색-->
    <select id="userSearch" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        WHERE role = 'user'
            <if test="type != null and keyword != null and keyword != ''">
                AND
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'email'"> email LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
    </select>
    <select id="userOwnerSearch" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        WHERE role = 'owner'
            <if test="type != null and keyword != null and keyword != ''">
                AND
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'email'"> email LIKE '%' || #{keyword} || '%' </when>
                </choose>
            </if>
    </select>
    <select id="userSearchAdmin" resultType="UsersDto" parameterType="map">
        SELECT * FROM users
        WHERE role != 'admin'
            <if test="type != null and keyword != null and keyword != ''">
                AND
                <choose>
                    <when test="type == 'nickname'"> nickname LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'phoneNum'"> phone_num LIKE '%' || #{keyword} || '%' </when>
                    <when test="type == 'email'"> email LIKE '%' || #{keyword} || '%' </when>
                    <otherwise> 1=1 </otherwise>
                </choose>
            </if>
    </select>
    <select id="UserInfo" resultType="UsersDto" parameterType="Integer">
        select * from users where id = #{id}
    </select>
    <update id="updateStatus" parameterType="map">
        UPDATE USERS SET status = #{status} WHERE id = #{id}
    </update>
    <update id="updateStatusBan" parameterType="map">
        UPDATE USERS SET status = #{status}, active_at = #{activeAt} WHERE id = #{id}
    </update>
</mapper>